.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 35% 1500px  / 28% 70%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

body{
      background-color: 
}
.boxa {
  color: white;
  grid-column: 1/ span 2;
  background: PaleVioletRed;
  
  margin-left: -10px;
  margin-right: -20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: -16; 
}

.header{
    border: 1px solid white;
    width: 300px;
    margin: 40px auto;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}


.boxb{
  background-color: Gainsboro;
  color: black;
  z-index:2;
  margin-top: 20px;
  margin-left: 100px;
  
  
  
}

.me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    padding-top: 20px;
}

.con{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 6px;
    font-size: 20px;
    
  
    
}

.tact{
    font-family: Arial;
    font-weight: bold;
    margin-left: 10px;

}

.soc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 5px solid white;
    padding-top: 10px;
    letter-spacing: 4px;
     font-size: 20px;
    
}
.sosh{
    text-align: center;
    margin-top: -10;
    letter-spacing: 20px;
}
.email{
    color: black;
}


.email:hover
{
    color: PaleVioletRed ;
    cursor:grab;
    
}

.email:link{
    text-decoration: none;
    letter-spacing: 2px;
}


.website:link{
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
}

.website:hover{
    color: PaleVioletRed ;
    cursor:grab;
}

.insta:link{
    text-decoration: none;
}

.insta:hover{
    cursor:grab;
}

.twit:link{
    text-decoration: none;
}

.twit:hover{
    cursor:grab;
}


.fb:link{
    text-decoration: none;
}

.fb:hover{
    cursor:grab;
}

.boxc{
    padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 100px;
   border: 4px Gainsboro dotted;
}

.bhead{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
     font-size: 25px;
}

.bhead:hover{
    color: Gainsboro;
}


.whead{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
     font-size: 25px;
}

.whead:hover{
    color: Gainsboro;
}

.col{
    display: flex;
}

.col1{
    flex:1;
}

.col2{
    flex:2;
}
.ehead{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
     font-size: 25px;
}

.ehead:hover{
    color: Gainsboro;
}

.ehead:hover{
    color: Gainsboro;
}

.shead{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
     font-size: 25px;
}

.shead:hover{
    color: Gainsboro;
}

.vhead{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
     font-size: 25px;
}

.vhead:hover{
    color: Gainsboro;
}

h3{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}



ul{
     column-count: 2;
     list-style-type: none;
     letter-spacing: 4px;
}

.ula{
     column-count: 3;
}
li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}





